/*!
 * basic.css
 *
 */

.my-body {
    background-color: black;
}

.my-header {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

